<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8"/>
	<title>Lottery</title>
	<script src="../public/js/angular.js"></script>
	<script src="../public/js/sockjs.min.js"></script>
	<script src="../public/js/stomp.min.js"></script>
	<script src="../public/js/lottery.js"></script>
</head>
<body ng-controller="LotteryController">
	<b>近20期开奖结果</b><hr/>
	<table style="width:50%;">
		<tr>
			<th>期号</th>
			<th>开奖号码</th>
			<th>开奖时间</th>
		</tr>
		<tr ng-repeat="lotteryInfo in lotteryInfos track by lotteryInfo.issueNo">
			<td style="text-align: center;">{{lotteryInfo.issueNo}}</td>
			<td style="text-align: center;">{{lotteryInfo.number}}</td>
			<td style="text-align: center;">{{lotteryInfo.date}}</td>
		</tr>
	</table>
	<hr/>

	<b>数据统计(六期为一组，五进制)</b>
	<table style="width:50%;">
		<tr>
			<th></th>
			<th colspan="2">出现大数次数</th>
			<th colspan="2">末位奇数次数</th>
			<th colspan="2">末位值相同最大次数</th>
			<th colspan="2">末位不同值个数</th>
			<th colspan="2">末位连续相同次数</th>
			<th colspan="2">末位和</th>
		</tr>
		<tr>
			<th>组序号</th>
			<th>十位</th>
			<th>个位</th>
			<th>十位</th>
			<th>个位</th>
			<th>十位</th>
			<th>个位</th>
			<th>十位</th>
			<th>个位</th>
			<th>十位</th>
			<th>个位</th>
			<th>十位</th>
			<th>个位</th>
		</tr>
		<tr ng-repeat="stat in stats track by $index">
			<td style="text-align:center;">第{{$index+1}}组</td>
			<td style="text-align:center;">{{stat.bigNumTimes[0]}}</td>
			<td style="text-align:center;">{{stat.bigNumTimes[1]}}</td>
			<td style="text-align:center;">{{stat.oddNumTimes[0]}}</td>
			<td style="text-align:center;">{{stat.oddNumTimes[1]}}</td>
			<td style="text-align:center;">{{stat.sameNumTimes[0]}}</td>
			<td style="text-align:center;">{{stat.sameNumTimes[1]}}</td>
			<td style="text-align:center;">{{stat.diffNums[0]}}</td>
			<td style="text-align:center;">{{stat.diffNums[1]}}</td>
			<td style="text-align:center;">{{stat.sameConTimes[0]}}</td>
			<td style="text-align:center;">{{stat.sameConTimes[1]}}</td>
			<td style="text-align:center;">{{stat.lastSum[0]}}</td>
			<td style="text-align:center;">{{stat.lastSum[1]}}</td>
		</tr>
	</table>
	<hr/>
	<b>数据分析(六期为一组，五进制)</b>
	<table style="width:50%;">
		<tr>
			<th></th>
			<th colspan="2">出现大数次数比例</th>
			<th colspan="2">末位奇数次数比例</th>
			<th colspan="2">末位值相同最大次数比例</th>
			<th colspan="2">末位不同值个数比例</th>
			<th colspan="2">末位连续相同次数比例</th>
		</tr>
		<tr>
			<th>值</th>
			<th>十位</th>
			<th>个位</th>
			<th>十位</th>
			<th>个位</th>
			<th>十位</th>
			<th>个位</th>
			<th>十位</th>
			<th>个位</th>
			<th>十位</th>
			<th>个位</th>
		</tr>
		<tr>
			<td>0</td>
			<td style="text-align:center;">{{ratioMap.bigNumRatio.zeroRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.bigNumRatio.zeroRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.oddNumRatio.zeroRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.oddNumRatio.zeroRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.sameNumRatio.zeroRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.sameNumRatio.zeroRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.diffNumRatio.zeroRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.diffNumRatio.zeroRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.sameConRatio.zeroRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.sameConRatio.zeroRateUnit}}</td>
		</tr>
		<tr>
			<td>1</td>
			<td style="text-align:center;">{{ratioMap.bigNumRatio.oneRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.bigNumRatio.oneRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.oddNumRatio.oneRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.oddNumRatio.oneRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.sameNumRatio.oneRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.sameNumRatio.oneRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.diffNumRatio.oneRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.diffNumRatio.oneRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.sameConRatio.oneRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.sameConRatio.oneRateUnit}}</td>
		</tr>
		<tr>
			<td>2</td>
			<td style="text-align:center;">{{ratioMap.bigNumRatio.twoRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.bigNumRatio.twoRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.oddNumRatio.twoRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.oddNumRatio.twoRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.sameNumRatio.twoRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.sameNumRatio.twoRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.diffNumRatio.twoRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.diffNumRatio.twoRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.sameConRatio.twoRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.sameConRatio.twoRateUnit}}</td>
		</tr>
		<tr>
			<td>3</td>
			<td style="text-align:center;">{{ratioMap.bigNumRatio.threeRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.bigNumRatio.threeRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.oddNumRatio.threeRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.oddNumRatio.threeRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.sameNumRatio.threeRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.sameNumRatio.threeRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.diffNumRatio.threeRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.diffNumRatio.threeRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.sameConRatio.threeRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.sameConRatio.threeRateUnit}}</td>
		</tr>
		<tr>
			<td>4</td>
			<td style="text-align:center;">{{ratioMap.bigNumRatio.fourRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.bigNumRatio.fourRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.oddNumRatio.fourRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.oddNumRatio.fourRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.sameNumRatio.fourRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.sameNumRatio.fourRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.diffNumRatio.fourRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.diffNumRatio.fourRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.sameConRatio.fourRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.sameConRatio.fourRateUnit}}</td>
		</tr>
		<tr>
			<td>5</td>
			<td style="text-align:center;">{{ratioMap.bigNumRatio.fiveRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.bigNumRatio.fiveRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.oddNumRatio.fiveRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.oddNumRatio.fiveRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.sameNumRatio.fiveRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.sameNumRatio.fiveRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.diffNumRatio.fiveRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.diffNumRatio.fiveRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.sameConRatio.fiveRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.sameConRatio.fiveRateUnit}}</td>
		</tr>
		<tr>
			<td>6</td>
			<td style="text-align:center;">{{ratioMap.bigNumRatio.sixRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.bigNumRatio.sixRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.oddNumRatio.sixRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.oddNumRatio.sixRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.sameNumRatio.sixRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.sameNumRatio.sixRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.diffNumRatio.sixRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.diffNumRatio.sixRateUnit}}</td>
			<td style="text-align:center;">{{ratioMap.sameConRatio.sixRateTen}}</td>
			<td style="text-align:center;">{{ratioMap.sameConRatio.sixRateUnit}}</td>
		</tr>
	</table>
	<hr/>
	<b>下一期预测结果：</b>
</body>
</html>